.test {
  color: #FF3939;
  color: #FF7139;
  color: #BAFF39;
  color: #FFB039;
  color: #39FFA3;
  color: #39A6FF;
  color: #3978FF;
  color: #4639FF;
  color: #9539FF;
  color: #D739FF;
  color: #FF39BD;
}